/*
For this file, Hannan is utilizng the structure we used in my capstone team
for having the same colors, fonts, and overall themes for our app.
*/
:root {
  --color-page-background: white;
  --text-on-page-background: black;

  --color-one: #FCAA67;
  --color-two: #177E89;
  --color-three: #084C61;
  --color-four: #FFFFC7;
  --color-five: #CDEAC0;
}
