div.caption {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #292927;
  /* background-color: #E0E0DB; */

}

div.caption img{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

div.caption h3{
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2.6rem;
  width: 40%;
  text-align: center;
}


div.mission {
  display:flex;
  background-color: #E0E0DB;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 10rem 0;
  width: 100%;
}

div.mission h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  width: 35%;
  font-weight: 400;
  margin-left: 3rem;
  margin-right: 2rem;
  color: #000000;
}

div.survey-intro {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 5rem 0 5rem 0;
  width: 100%;
}

div.survey-intro h3 {
 width: 60%;
 font-size: 2rem;
 font-weight: 400;
}
div.survey-intro .link {
  margin-top: 2rem;
  width: 40%;
 }

#survey-button {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  background-color: #3B7C87;
  border-radius: 10px;
  color: white;
  text-align: center;
}

div.travel{
  display:flex;
  justify-content: center;
  padding: 8rem 0 5rem 0;
  background-color: #E0E0DB;
  width: 100%;

}

div.travel h3{
  padding-left: 4rem;
  margin-left: 5rem;
  font-size: 1.8rem;
  width: 30%;
  font-weight: 400;
  color: #000000;
}

div.sids {
  padding: 1rem 0 3rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.sids h3{
  width: 60%;
  font-size: 2rem;
  font-weight: 400;
}

div.help{
  display:flex;
  justify-content: center;
  padding: 3rem 0 5rem 0;
  background-color: #E0E0DB;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.help h3{
  padding-left: 8rem;
  margin-left: 10rem;
  font-size: 2rem;
  width: 35%;
  color: #000000;
}

.page-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-x:hidden;
}

