div.mission {
  display:flex;
  height:22em;
  background-color: #FFFFC7;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.caption {
  display:flex;
  height:13em;
  background-image: url("././Picture/Sea.jpeg");
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5rem;
  color: #292927;
  margin-bottom: 0;
  
}

div.caption h3{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.6rem;
  width: 40%;
  text-align: center;
  background: linear-gradient(177.86deg, rgba(255, 255, 255, 0.56) 42.58%, rgba(255, 255, 255, 0) 98.2%);
}

div.mission h3 {
font-size: 2.5rem;
text-align: center;
width: 120vh;
color: #000000;
}

div.survey-intro {
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding-left: 30px;
}

h3.survey-intro-text {
  font-weight: 600;
}

/* #survey-button {
  margin-left: 12rem;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  height: 4rem;
  background-color: #FCAA67;
  border-radius: 100px;
  color: #000000;
} */

#survey-button {
  margin-top: -3rem;
  font-size: 2.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #FCAA67;
  border-radius: 100px;
  color: #000000;
  text-align: center;
}



div.bg-intro {
  padding-bottom: 9rem;
  
}
h3.bg-intro-col1 {
  padding-left: 2rem;
  font-weight: 300;
}
h3.bg-intro-col2 {
  padding-left: 5rem;
  font-weight: 300;
}




