.nav h1 {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -.5rem;
  color: white;
}

.btn {
  margin-top: -.5rem;
  color: white;
  font-size: 1.5rem;
}

.navbar {
  background-color: #3B7C87;
  width: 100%;
  margin-left: 0;
}
