/*
h2 {
    color: black;
    align-items: center;
    text-align: center;
}
*/
.exitButton {
    display: flex;
    position: absolute;
    top: 2%;
    right: 5%;
    color: white;
}

/*
.surveyMain {
    display: flex;
    align-items: left;
    padding: 3rem;
}
*/
.recommendations{
    margin-top: 4rem;

}

.islands{
    margin-top: 2rem;
}

/* .reuslt-main-pic{
    margin: 0 0 4rem 2rem;
    background-color: lightgray;
    align-items: center;
    align-content: center;
} */

.result {
    background-color: lightgrey;
    margin: 0 3rem 4rem 3rem;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    color: black;
}

.link:hover {
    color: darkblue;
 }


.result img{
    max-width:100%;
    height:auto;
    align-items: center;
    align-content: center;
}

.result .main {
    margin: 2rem 0 2rem ;
}

.result .flag{
    min-width: 4.5rem;
}

.show-rec{
    margin-left: 36.5%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}